<!-- Store this code in 'register.html' file inside the 'templates' folder -->
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/register.css">
<link rel="stylesheet" href="alertbox.css">
<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div><b>NEW<span>USER<b></span></div>
		</div>
		<br>
		<div class="main">
				<form action="{{ url_for('sign.warehouse_register') }}" method="post">
				<input id="OwnerCompanyName" name="OwnerCompanyName" type="text" placeholder="Enter Your owner company name" class="textbox" background="transparent"></br></br>
				<input id="OwnerCompanyAddress" name="OwnerCompanyAddress" type="text" placeholder="Enter company address" class="textbox"/></br></br>
				<input id="state" name="state" type="text" placeholder="Enter state" class="textbox"/></br></br>
                <input id="District" name="District" type="text" placeholder="Enter District" class="textbox"/></br></br>
                <input id="locationID" name="locationID" type="text" placeholder="Enter locationID" class="textbox"/></br></br>
                <input id="ContactName" name="ContactName" type="text" placeholder="Enter Your name" class="textbox"/></br></br>
                <input id="ContactNumber" name="ContactNumber" type="text" placeholder="Enter Your number" class="textbox"/></br></br>
                <input id="Contactemail" name="Contactemail" type="text" placeholder="Enter Your email Address" class="textbox"/></br></br>
                <input id="password" name="password" type="password" placeholder="Enter password" class="textbox"/></br>                
                </br>
				<input type="submit" class="btn" value="Sign Up"></br>
				<h3><p class="bottom">Already have an account? <a class="bottom" href="{{url_for('sign.login')}}"> Sign in here</a></p></h3>

  				<h1>{{msg}}</h1>
		</div>
		
		</form>
		<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>
		</div>